h1 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}